.contactWrapper {
  padding: 0 100px 0 100px;
  height: 70vh;
  display: flex;
}

.contactInfo {
  margin-top: 100px;
  width: 50%;
}

.contactHeading h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.contactHeading p {
  width: 80%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.contactMediums {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mail {
  grid-column: 1/2;
  align-items: center;
}

.mail .mailme {
  margin-bottom: 10px;
}

.mail .email {
  font-weight: 700;
}

.socials {
  grid-column: 2/3;
}

.socials .socialPlatform {
  margin-bottom: 10px;
}

.contactForm {
  background: #094067;
  color: #fffffe;
  width: 70%;
  height: 55vh;
  margin-top: 80px;
  border-radius: 35px;
  padding: 30px;
}

.labels {
  padding-top: 30px;
}

.contactForm input {
  background: #fffffe;
  border: none;
  height: 45px;
  width: 70%;
  border-radius: 4px;
  padding-left: 10px;
  font-family: "Space Mono", monospace;
}

.contactForm textarea {
  background: #fffffe;
  border: none;
  height: 70px;
  width: 70%;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Space Mono", monospace;
}

.contactForm button {
  background: #fffffe;
  color: #094067;
  font-family: "Space Mono", monospace;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 4px;
  margin-top: 20px;
}

.contactForm button:hover {
  background: #094067;
  color: #fffffe;
  border: 1px solid #fffffe;
}

.contactForm .formSection {
  margin-top: 10px;
}
