@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  color: #094067;
  background: #fffffe;
  font-family: "Space Mono", monospace;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-spacer {
  margin-bottom: 100px;
}
