.home {
  display: flex;
  width: min(90%, 70.5rem);
  margin-inline: auto;
  height: 75vh;
  align-items: center;
  justify-content: space-between;
  color: #094067;
}

.aside {
  width: 60%;
}

.aside > * {
  font-size: 4rem;
}

.seunWrapper {
  width: 30%;
}

.seun {
  border-radius: 40px;
}
