.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: min(90%, 70.5rem);
  margin-inline: auto;
  background: #fffffe;
}

.logo {
  cursor: pointer;
  color: #094067;
}

.links a {
  margin-left: 15px;
  padding: 10px 20px;
  text-decoration: none;
  color: #094067;
  font-weight: 700;
  /* border: 1px solid white; */
}

.links a:hover {
  background: #094067;
  color: #fffffe;
  border-radius: 4px;
}
